html {
    scrollbar-width: none;
    overflow: hidden;
}

body {
    color: white;
    background-color: #282c34;
    min-width: max-content;
    font-size: calc(10px + 2vmin);
    padding: 0px 15px;
}

label {
    white-space: nowrap;
    margin-right: 50px;
}

.grid {
    display: grid;

}

.input-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;

}